*{
 padding: 0;
 margin: 0;   
 box-sizing: border-box;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    background: rgb(82, 128, 82);
    text-align: center;
    
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 120px;
padding: 15px;
margin: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
background: #41a82a;
border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(48, 153, 48);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
    padding: 1px;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(124, 224, 231);
}
.fa-angle-right{
  float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: rgb(73, 168, 101);
}